APP_WEB_URL = ''

DATABASE_URL = ''

UPLOAD_DRIVER=''

APP_JTW_SECRET = ''

BASE_URL_DEV = 'src'

BASE_URL_PROD = 'dist'

#configurações para envio de email
MAIL_EMAIL = ''
MAIL_PASSWORD = ''

#configurações firebase
TYPE = '',
PROJECT_ID = ''
PRIVATE_KEY_ID = '',
PRIVATE_KEY = '',
CLIENT_EMAIL= '',
CLIENT_ID= '',
AUTH_URI= '',
TOKEN_URI= '',
AUTH_PROVIDER_X509_CERT_URL= '',
CLIENT_X509_CERT_URL= ''
