<style>
	.message-content{
		font-family: Arial, Helvetica, sans-serif;
		max-width: 600px;
		font-size: 18px;
		line-height: 21px;
	}
</style>

<div class="message-content">
	<p>Ola, {{name}}</p>
	<p>Seja bem-vindo ao grupo crosslife</p>
	<p>Abaixo estão nome de usuário e senha para entrar no sistema:</p>
	<p>
		<strong>Nome de usuário: </strong>
    {{username}}
	</p>
  <p>
		<strong>Senha:</strong>
    {{password}}
	</p>
	<p></p>
	<p>
		Obrigado! <br/>
		<strong>Equipe Crosslife</strong>
	</p>
</div>
